<md-card flex="flex" flex-gt-sm="30" flex-gt-md="30" style="margin: 40px auto;">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>
        <img src="./app/assets/img/NEORIS_logo_dark.png" alt="" style="width: 50%;"">
      </h2>
    </div>
  </md-toolbar>
  <md-card-content>
<!--     <form name="loginForm" ng-submit="loginForm.$valid && ctrl.login()" novalidate> -->

<!--       <md-input-container class="md-block" flex> -->
<!--         <label>Nombre</label> -->
<!--         <input required name="username" ng-model="ctrl.username" md-autofocus> -->
<!--         <div ng-messages="loginForm.username.$error"> -->
<!--           <div ng-message="required">Ingrese un nombre de usuario.</div> -->
<!--         </div> -->
<!--       </md-input-container> -->

<!--       <md-input-container class="md-block" flex> -->
<!--         <label>Contraseña</label> -->
<!--         <input type="password" required name="password" ng-model="ctrl.password"> -->
<!--         <div ng-messages="loginForm.password.$error"> -->
<!--           <div ng-message="required">Ingrese una contraseña.</div> -->
<!--         </div> -->
<!--       </md-input-container> -->

<!--       <md-input-container flex> -->
<!--         <div class="md-input-message-animation"> -->
<!--           {{ ctrl.error }} -->
<!--         </div> -->
<!--       </md-input-container> -->

	<h1>Neo Beneficios</h1> 
      <br>
      <md-button  href="/app-beneficios/bo/login" type='submit' class="neorisBlue md-raised md-primary">Ingresar</md-button>

	</md-card-content>
<!--     </form> -->
</md-card>