<md-card>

  <md-toolbar class="md-table-toolbar md-accent md-hue-1">
    <div class="md-toolbar-tools">
      <h2>Beneficios</h2>
      <div flex></div>
      <md-button class="neorisBlue md-raised md-primary md-hue-1" ng-click="ctrl.nuevo($event)">Nuevo</md-button>
    </div>
  </md-toolbar>

  <md-table-container>
    <table md-table md-progress="ctrl.progress">
      <thead md-head md-order="ctrl.query.order">
        <tr md-row>
          <th md-column md-order-by="nombre">Nombre</th>
          <th md-column>Descripción corta</th>
          <th md-column md-order-by="nivel.descripcion">Niveles</th>
          <th md-column md-order-by="vigenciaDesde">Vigencia</th>
          <!-- <th md-column md-order-by="vigenciaHasta">Vigencia Hasta</th> -->
          <th md-column md-order-by="proveedor.razonSocial">Proveedor</th>
          <th md-column md-order-by="categoria.descripcion">Categoria</th>
          <th></th>
        </tr>
      </thead>
      <tbody md-body>
        <tr md-row ng-repeat="descuento in ctrl.descuentos | orderBy:ctrl.query.order | limitTo: ctrl.query.limit: (ctrl.query.page - 1) * ctrl.query.limit">
          <td md-cell>{{ descuento.nombre }}</td>
          <td md-cell>{{ descuento.descripcionCorta }}</td>
          <td md-cell>{{ descuento.nivel.descripcion }}</td>
          <td md-cell>
            {{ descuento.vigenciaDesde | date : 'dd/MM/yyyy' }}
            <br> {{ descuento.vigenciaHasta | date : 'dd/MM/yyyy' }}
          </td>
          <!-- <td md-cell>{{ descuento.vigenciaHasta | date : 'dd/MM/yyyy' }}</td> -->
          <td md-cell>{{ descuento.proveedor.razonSocial }}</td>
          <td md-cell>{{ descuento.categoria.descripcion }}</td>
          <td md-cell layout="row" layout-align="end center">
            <md-button ng-click="ctrl.ver($event, descuento)" class="md-fab md-mini" aria-label="Ver descuento">
              <i class="material-icons">visibility</i>
            </md-button>
            <md-button ng-click="ctrl.editar($event, descuento)" class="md-fab md-mini" aria-label="Editar Descuento">
              <i class="material-icons">create</i>
            </md-button>
            <md-button ng-click="ctrl.eliminar($event, descuento)" class="md-fab md-mini" aria-label="Eliminar Descuento">
              <i class="material-icons">delete</i>
            </md-button>
          </td>
        </tr>
      </tbody>
    </table>
  </md-table-container>

  <md-table-pagination md-limit="ctrl.query.limit" md-limit-options="[5, 10, 15]" md-page="ctrl.query.page" md-total="{{ ctrl.descuentos.length }}"
    md-on-paginate="ctrl.getDescuentos" md-page-select md-label="{page: 'Página:', rowsPerPage: 'Filas por página:', of: 'de'}"></md-table-pagination>

</md-card>