<md-dialog aria-label="{{ ctrl.titulo }}" flex="60" flex-sm="80" flex-xs="90">

  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>{{ ctrl.titulo }}</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="ctrl.cancel()">
        <i class="material-icons" aria-label="Close dialog">clear</i>
      </md-button>
    </div>
  </md-toolbar>

  <md-dialog-content layout-padding>
    <form name="proveedorForm" ng-cloak novalidate>

      <md-input-container class="md-block">
        <label>Razon Social</label>
        <input md-maxlength="60" required name="razonSocial" ng-model="ctrl.proveedor.razonSocial" md-autofocus>
        <div ng-messages="proveedorForm.razonSocial.$error">
          <div ng-message="required">El campo es requerido.</div>
        </div>
      </md-input-container>

      <md-input-container class="md-block">
        <label>Horarios de Atención</label>
        <textarea ng-model="ctrl.proveedor.horarioAtencion" name="horarioAtencion" required md-maxlength="100" rows="6" md-select-on-focus></textarea>
        <div ng-messages="proveedorForm.horarioAtencion.$error">
          <div ng-message="required">El campo es requerido.</div>
          <div ng-message="md-maxlength">El horario de atención debe tener menos de 100 caracteres.</div>
        </div>
      </md-input-container>

      <md-input-container class="md-block">
        <label>Logo (url)</label>
        <input md-maxlength="100" required name="logo" ng-model="ctrl.proveedor.logo" md-autofocus>
        <div ng-messages="proveedorForm.logo.$error">
          <div ng-message="required">El campo es requerido.</div>
          <div ng-message="md-maxlength">La URL debe tener menos de 100 caracteres.</div>
        </div>
      </md-input-container>

      <md-dialog-actions layout="row">
        <span flex></span>
        <md-button class="md-raised md-primary md-hue-1" ng-click="ctrl.guardar()" ng-disabled="proveedorForm.$invalid">
          Guardar
        </md-button>
        <md-button class="md-raised md-warn md-hue-1" ng-click="ctrl.cancel()">
          Cancelar
        </md-button>
      </md-dialog-actions>
    </form>

  </md-dialog-content>
</md-dialog>